{% extends 'events/base.html' %}

{% block content %}
    <div class="card" style="width: 600px; padding: 20px; margin: auto; background-color: #eee; box-shadow: 0 5px 15px #888;">
        <a href="{% url 'view-list' %}" class="btn btn-success">GO BACK</a>
        <div class="card card-header">
            
            <h1 class="text-center">Add New Friends</h1>
        </div>
        <br>
        <form action="" method="POST">
            {% csrf_token %}
            {{form.as_p}}

            <input type="submit" class="btn btn-success" value="Submit" style="width: 100%;">
        </form>
    </div>
{% endblock %}
