{% extends 'events/base.html' %}

{% block content %}

        <div class="box-content" style="display: flex; justify-content: space-between; align-items: center; width: 100%;">
            <div class="right-side" style="width: 50%;">
                <h1 style="color: green; font-size: 45px; font-weight: 700;">Social <span style="color: #ee8813;">ContactBook</span></h1>
                <p style="font-weight: 700;">ContactBook helps you connect with friends and helps manage all your <br> contacts online in a secured way! <small>SignUp Now, It free and reliable!</small></p>
                
            </div>
            <div class="card" style="width: 600px; padding: 20px; margin: auto; background-color: #eee; box-shadow: 0 5px 15px #888;">
                <div class="card card-header">
                    <h1 class="text-center">Register</h1>
                </div>
                <br>
                <form action="" method="POST">
                    {% csrf_token %}
                    {% for field in form %}
                        {{field.label}}
                        {{field}}
                    {% endfor %}
                    <br>
                    <input type="submit" class="btn btn-success" value="Submit" style="width: 100%;">
                </form>
                <br>
                {{form.errors}}
                <p>Already have an account? <a href="{% url 'login' %}" class="btn btn-warning">Login</a></p>
            </div>
        </div>
{% endblock %}


